.image {
    width: 300px;
    height: 300px;
}

.image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

section {
    padding: var(--space-6xl) 0;
    margin: var(--space-6xl) 0;
    display: grid;
    place-content: center;
}

.main-message {
    text-align: center;
    font-family: var(--font-headline);
    font-size: 1.25rem;
    letter-spacing: 4px;
    margin-bottom: var(--space-6xl);
    line-height: 3;
}

.sections {
    position: relative;
    border: solid 1px var(--text-color);
}

.subheading h3{
    position: absolute;
    font-size: var(--font-size-5xl);
    font-weight: normal;
    font-family: var(--font-headline);
    color: var(--accent-brown);
    background-color: var(--bg-color);
    letter-spacing: 2px;
}

#packing .subheading h3 {
    padding: 20px;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

#scene .subheading h3 {
    padding: 20px;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.exp {
    text-align: center;
}

.exp.main-text {
    display: grid;
    gap: var(--space-xl);
}

.exp-title {
    font-family: var(--font-jp-M);
    font-size: var(--font-size-lg);
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 2;
}

.packing-el {
    display: grid;
    grid-template-columns: 300px auto;
    gap: var(--space-3xl);
    align-items: end;
}

.el-compilation {
    display: grid;
    gap: var(--space-6xl);
    padding: 0 var(--space-6xl);
}

.scene-el {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    row-gap: var(--space-5xl);
}

.scene-cont {
    display: flex;
    gap: var(--space-5xl);
    justify-content: center;
}

.scene-el-sent {
    text-align: center;
    margin-top: var(--space-sm);
}

.scene-el-sent p {
    margin-top: var(--space-sm);
}

.sent-title {
    font-family: var(--font-jp-M);
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 2;
}

.set-container{
    display: grid;
    grid-template-rows: repeat(4, max-content);
    row-gap: var(--space-sm);
}

.set-contents {
    text-align: justify;
}

.set-list {
    list-style: none;
}

.set-list li {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.quantity {
    align-content: end;
}

#delivery .subheading h3 {
    padding: 20px;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

#delivery-contents {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    row-gap: var(--space-xl);
}

.delivery-contents-items h4 {
    margin-bottom: var(--space-sm);
}

#delivery-contents .detail-box {
    margin-top: var(--space-3xl);
}

#gift > .detail-box {
    margin-top: var(--space-6xl);
}

/* InterSectionObseverのcss */

.card-move {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
    transition-delay: calc(var(--i) * 0.25s);
}

.card-move.active {
    opacity: 1;
    transform: translateY(0);
}

.move_upwards {
    opacity: 0;
    transform: translateY(20px);
}

.move_upwards.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.blur {
    filter: blur(5px);
}

.blur.active {
    filter: blur(0px);
    transition: filter 1.2s;
}

@media (max-width: 640px) {
    #message {
        font-size: 15px;
    }

    .packing-el {
        grid-template-columns: 1fr;
    }

    .br-pc {
        display: none;
    }
}