* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Higure Gothic R';
    src: url('../fonts/HigureGothic/HigureGothic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Higure Gothic M';
    src: url('../fonts/HigureGothic/HigureGothic-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'New Tegomin';
    src: url('../fonts/New_Tegomin/NewTegomin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'YujiSyuku-Regular';
    src: url('./fonts/YujiSyuku-Regular.ttf') format('truetype');
}

:root {
    /* color */
    --bg-color: #f5f1e8;
    --text-color: #2b2b2b;
    --accent-green: #209f4b;
    --accent-lightgreen: #41C56F;
    --accent-brown: #c57763;
    /* font-family */
    --font-headline: 'New Tegomin', serif;
    --font-jp: 'Higure Gothic R', serif;
    --font-jp-M: 'Higure Gothic M', serif;
    --font-yuji: 'YujiSyuku-Regular', serif;
    /* space */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;
    --space-4xl: 56px;
    --space-5xl: 64px;
    --space-6xl: 96px;
    /* font-size */
    --font-size-sm: 8px;
    --font-size-md: 16px;
    --font-size-lg: 24px;
    --font-size-xl: 32px;
    --font-size-2xl: 40px;
    --font-size-3xl: 48px;
    --font-size-4xl: 56px;
    --font-size-5xl: 64px;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-jp);
    color: var(--text-color);
}

.main-text {
    font-family: var(--font-jp);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    line-height: 2;
}

.h3-font {
    font-family: var(--font-yuji);
    font-size: var(--font-size-lg);
    letter-spacing: 8px;
    line-height: 2;
    font-weight: normal;
}

header {
    position: fixed;
    z-index: 100;
    display: grid;
    top: 0;
    left: 0;
    grid-template-columns: auto 1fr;
    height: var(--space-5xl);
    width: 100%;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0rem 0rem .3125rem rgba(0, 0, 0, 0.7);
}

header #header-logo img {
    position: relative;
    z-index: 10;
    height: var(--space-5xl);
    margin: 0 8px;
}

header #nav-container {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 32px;
    font-family: var(--font-headline);
    font-size: 19.2px;
    align-items: center;
    margin-right: var(--space-lg);
}

header nav a {
    text-decoration: none;
    position: relative;
    z-index: 10;
    border-bottom: .125rem solid transparent;
    border-image: url(./imgs/price-underline.svg) 0 0 100% 0 stretch;
    padding-bottom: var(--space-xs);
    color: var(--text-color);
    transition: .3s;
    white-space: nowrap;
}

.main-menu {
    position: relative;
}

.sub-menu {
    position: absolute;
    left: 50%;
    top: 100%;
    width: max-content;
    white-space: nowrap;
    padding-bottom: var(--space-sm);
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    z-index: 5;
    padding-top: var(--space-lg);
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    right: -100vw;
    bottom: 0;
    background-color: var(--bg-color);
    z-index: -1;
    opacity: 95%;
}

.sub-menu li {
    display: flex;
    align-items: flex-end;
}

.l-menu {
    flex-shrink: 0;
    margin-right: var(--space-sm);
    padding-bottom: var(--space-sm);
}

.main-menu:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.main-menu:hover > a {
    color: var(--accent-green);
}

.sub-menu:hover a {
    color: var(--accent-green);
}

#cart a {
    border-bottom: none;
}

#my-page a {
    border-bottom: none;
}

main {
    margin: calc(var(--space-6xl) * 2) 0 calc(var(--space-6xl) * 3);
    display: grid;
    grid-template-rows: repeat(4, max-content);
    gap: var(--space-6xl);
}

.headline {
    font-family: var(--font-headline);
    color: var(--accent-green);
    font-size: var(--font-size-xl);
    font-weight: normal;
    letter-spacing: var(--space-sm);
    text-align: center;
}

#selections {
    display: flex;
    justify-content: center;
    gap: calc(var(--space-6xl) * 1.5);
}

.selections__card {
    text-align: center;
}

.h3-title {
    font-family: var(--font-yuji);
    font-weight: normal;
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-lg);
    color: var(--text-color);
    letter-spacing: 2px;
}

main > section {
    padding: var(--space-6xl);
}

#individual-items .h3-title {
    text-align: center;
}

#search summary {
    text-align: center;
    font-weight: normal;
    font-family: var(--font-jp-M);
    font-size: var(--font-size-md);
    padding: 0 var(--space-md);
    margin-bottom: var(--space-xl);
    cursor: pointer;
}

#search summary {
    list-style: none;
}

#search__checkboxes {
    display: flex;
    justify-content: center;
    gap: var(--space-3xl);
}

#search__content {
    border: solid 1px var(--text-color);
    padding: var(--space-3xl) var(--space-3xl);
    margin: 0 calc(var(--space-6xl) * 2) var(--space-6xl);
}

.checkbox__title {
    text-align: center;
    font-weight: normal;
    font-family: var(--font-jp-M);
    font-size: var(--font-size-md);
}

.checkbox__labels {
    margin-top: var(--space-md);
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--space-sm);
}

.checkbox__labels input {
    margin-right: var(--space-sm);
}

.labels {
    display: inline-block;
    padding: 5px;
    background-color: var(--accent-lightgreen);
    cursor: pointer;
}

.selections__card a {
    text-decoration: none;
}

.product-card {
    width: 19rem;
}

.product-card img {
    width: 19rem;
    height: 19rem;
    object-fit: cover;
}

#product {
    padding: 6.25rem var(--space-3xl);
}

#product h2 {
    text-align: center;
}

#product-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: auto;
    justify-content: center;
    column-gap: var(--space-5xl);
    row-gap: var(--space-3xl);
}

.category {
    display: flex;
    gap: var(--space-sm);
}

.category span{
    padding: var(--space-xs);
    font-size: .9rem;
    background-color: var(--accent-lightgreen);
    letter-spacing: 2px;
    font-family: var(--font-jp-M);
    border-radius: 2px;
    margin: var(--space-sm) 0;
}

.reco-card h3 ,
.product-card h3 {
    font-family: var(--font-headline);
    font-weight: normal;
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-md);
    letter-spacing: 2px;
    width: fit-content;
    padding-bottom: .1rem;
    border-bottom: 2px solid transparent;
    border-image: url(./imgs/price-underline.svg) 0 0 100% 0 stretch;
}

.reco-exp {
    text-wrap: pretty;
}

.price {
    margin-top: var(--space-md);
    font-family: var(--font-jp-M);
    letter-spacing: 2px;
    font-size: 1.25rem;
}

.price span:nth-child(1) {
    font-size: 1rem;
}

.price span:nth-child(2) {
    font-size: .75rem;
}

.cart-input {
    display: flex;
    align-items: center;
    margin: var(--space-md) 0;
}

.cart-input input {
    width: var(--space-3xl);
    height: var(--space-xl);
    border: solid 1.5px var(--text-color);
    padding-left: var(--space-sm);
}

.cart-input button {
    cursor: pointer;
    margin-left: var(--space-lg);
    background-color: #209F4B;
    color: var(--bg-color);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    padding: var(--space-md) 1.25rem;
    font-family: "Noto Serif JP", serif;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    text-align: center;
    transition: box-shadow 0.2s ease-out, transform 0.15s ease-out;
}

.cart-input button:hover {
    box-shadow: 0px 0px 7px rgba(43,43,43,0.8);
}

.cart-input button:active {
    transform: scale(95%);
}

footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "imgs-contents footer-nav"
        "footer-shop-info small"
    ;
    width: 100%;
    height: 400px;
    background-color: var(--accent-green);
}

#imgs-contents {
    grid-area: imgs-contents;
    width: fit-content;
    padding: var(--space-xl) var(--space-3xl);
}

footer img {
    width: 248px;
}

footer #icons {
    display: flex;
    width: 248px;
    justify-content: space-evenly;
}

footer #icons img{
    width: 48px;
    height: 48px;
}

#footer-shop-info , #footer-nav {
    color: var(--bg-color);
    font-family: var(--font-jp-M);
    line-height: 1.8;
    letter-spacing: .0625rem;
}

footer #footer-shop-info {
    grid-area: footer-shop-info;
    padding-left: var(--space-3xl);
    width: fit-content;
}

footer #footer-nav {
    grid-area: footer-nav;
    padding-top: var(--space-xl);
    font-size: 12.8px;
}

footer #footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3xl);
}

footer #footer-nav ul li a{
    text-decoration: none;
    color: inherit;
}

footer #footer-nav ul li a:hover{
  text-decoration: underline;
}

#footer-small {
    display: grid;
    grid-area: small;
    justify-content: end;
    align-items: end;
    color: var(--bg-color);
    font-family: var(--font-jp-M);
}

small {
    margin: 0 var(--space-3xl) var(--space-3xl) 0;
}