.main-text {
    font-family: var(--font-jp);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    line-height: 2;
}

.h3-font {
    font-family: var(--font-yuji);
    font-size: var(--font-size-lg);
    letter-spacing: 8px;
    line-height: 2;
    font-weight: normal;
}

main {
    margin: calc(var(--space-6xl) * 2) 0 calc(var(--space-6xl) * 3);
    display: grid;
    grid-template-rows: repeat(4, max-content);
    gap: var(--space-6xl);
}

section {
    padding: 0;
}

.headline {
    font-family: var(--font-headline);
    color: var(--accent-green);
    font-size: var(--font-size-xl);
    font-weight: normal;
    letter-spacing: var(--space-sm);
    text-align: center;
}

#selections {
    display: flex;
    justify-content: center;
    gap: calc(var(--space-6xl) * 1.5);
}

.selections__card {
    text-align: center;
}

.h3-title {
    text-align: center;
    font-family: var(--font-yuji);
    font-weight: normal;
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-lg);
    color: var(--text-color);
    letter-spacing: 2px;
}

main > section {
    padding: var(--space-6xl) auto;
}

#individual-items .h3-title,#assorted .h3-title {
    /* リンク飛び対策 */
    margin-top: 6rem;
}


.selections__card .h3-title {
    text-align: center;
    transition: transform .5s ease;
    will-change: transform;
}

.selections__card .h3-title:hover {
    transform: scale(110%);
}

#search h4 {
    font-size: var(--font-size-lg);
    font-weight: normal;
    letter-spacing: 5px;
    font-family: var(--font-jp-M);
}

#search h4::after{
    content: "";
    display: block;
    height: 1px;
    background-color: #999;
    margin: 4px auto 0;
}

#search__checkboxes {
    display: flex;
    justify-content: center;
    gap: var(--space-3xl);
}

#search__content {
    display: grid;
    place-items: center;
    gap:  var(--space-3xl);
    border-radius: 3px;
    background-color: #FCF9F3;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    padding: var(--space-xl) var(--space-3xl);
    margin: var(--space-6xl) calc(var(--space-6xl) * 2);
}

.checkbox__title {
    text-align: center;
    font-weight: normal;
    font-family: var(--font-jp-M);
    font-size: var(--font-size-md);
}

.checkbox__labels {
    margin-top: var(--space-md);
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--space-sm);
}

.labels {
    width: 140px;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 3px 10px;
    background-color: #EAEAD5;
    border: solid 1px var(--accent-lightgreen);
    border-radius: 3px;
    cursor: pointer;
    transition: transform .2s;
    will-change: transform;
}

.labels:hover {
    transform: scale(110%);
}

#filter-button {
    padding: 7px 30px;
    background-color: var(--cart-input);
    color: #fff;
    font-family: "Noto Serif JP", serif;
    font-weight: normal;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: box-shadow 0.2s ease-out, transform 0.15s ease-out;
}

#filter-button:hover {
    box-shadow: 0px 0px 7px rgba(43,43,43,0.6);
}

#filter-button:active {
    transform:  scale(95%);
}

.selections__card a {
    text-decoration: none;
}

.product-card {
    width: 19rem;
}

.product-card img {
    width: 19rem;
    height: 19rem;
    object-fit: cover;
}

#product {
    padding: 6.25rem var(--space-3xl);
}

#product h2 {
    text-align: center;
}

#hit-count {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.25rem;
}

#hit-number {
    font-size: var(--font-size-lg);
}

#product-container {
    display: grid;
    grid-template-columns: repeat(3, 19rem);
    grid-template-rows: auto;
    justify-content: center;
    gap: var(--space-3xl) var(--space-5xl);
}

.category {
    display: flex;
    gap: var(--space-sm);
}

.category span{
    padding: var(--space-xs);
    font-size: .9rem;
    background-color: var(--accent-lightgreen);
    letter-spacing: 2px;
    font-family: var(--font-jp-M);
    border-radius: 2px;
    margin: var(--space-sm) 0;
}

.product__name {
    font-family: var(--font-headline);
    font-weight: normal;
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-md);
    letter-spacing: 2px;
    width: fit-content;
    padding-bottom: .1rem;
    border-bottom: 2px solid transparent;
    border-image: url(../imgs/price-underline.svg) 0 0 100% 0 stretch;
}

.reco-exp {
    text-wrap: pretty;
}

.price {
    margin-top: var(--space-md);
    font-family: var(--font-jp-M);
    letter-spacing: 2px;
    font-size: 1.25rem;
}

.price span:nth-child(1) {
    font-size: 1rem;
}

.price span:nth-child(2) {
    font-size: .75rem;
}

.cart-input {
    display: flex;
    align-items: center;
    margin: var(--space-md) 0;
}

.cart-input input {
    width: var(--space-3xl);
    height: var(--space-xl);
    border: solid 1.5px var(--text-color);
    padding-left: var(--space-sm);
}

.cart-input button {
    cursor: pointer;
    margin-left: var(--space-lg);
    background-color: var(--cart-input);
    color: var(--bg-color);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    padding: var(--space-md) 1.25rem;
    font-family: "Noto Serif JP", serif;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    text-align: center;
    transition: box-shadow 0.2s ease-out, transform 0.15s ease-out;
}

.cart-input button:hover {
    box-shadow: 0px 0px 7px rgba(43,43,43,0.6);
}

.cart-input button:active {
    transform: scale(95%);
}

.remove {
    display: none;
}

#assorted__accordion {
    margin: 6rem 6rem;
}

#assorted__accordion > ul {
    list-style: none;
    display: grid;
    gap: var(--space-5xl);
    justify-items: center;
}

#assorted__accordion li {
    display: grid;
}

#assorted__accordion > ul > li {
    width: min(100%, 1100px);
}

.assorted__title::before {
    content: "";
    position: absolute;
    width: 4px;
    background-color: #a16050;
    top: 0; right: 0; bottom: 0; left: 0;
}

.assorted__title {
    position: relative;
    font-family: var(--font-jp-M);
    font-size: var(--font-size-lg);
    padding-left: 1rem;
}

.assorted__contents {
    display: grid;
    place-items: center;
    gap: 3rem;
    margin: 5rem 5rem;
}

.assorted__item-title .product__name {
    margin: 0;
}

.assorted__item-exp {
    text-align: center;
}

.assorted__mer {
    display: flex;
    gap: 8rem;
    align-items: center;
}

.assorted__mer-img img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.assorted__mer-contents {
    display: grid;
    gap: 1rem;
}

.assorted__set {
    font-family: var(--font-jp-M);
}

.set-list {
    display: grid;
    gap: .5rem;
}

.set-list li {
    display: grid;
    grid-template-columns: 1fr auto;
}

.quantity {
    align-content: end;
}