* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Higure Gothic R';
    src: url('../fonts/HigureGothic/HigureGothic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Higure Gothic M';
    src: url('../fonts/HigureGothic/HigureGothic-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'New Tegomin';
    src: url('../fonts/New_Tegomin/NewTegomin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'YujiSyuku-Regular';
    src: url('../fonts/YujiSyuku-Regular.ttf') format('truetype');
}

:root {
    /* color */
    --bg-color: #f5f1e8;
    --text-color: #2b2b2b;
    --accent-green: #209f4b;
    --accent-lightgreen: #41C56F;
    --accent-brown: #c57763;
    /* font-family */
    --font-headline: 'New Tegomin', serif;
    --font-jp: 'Higure Gothic R', serif;
    --font-jp-M: 'Higure Gothic M', serif;
    --font-yuji: 'YujiSyuku-Regular', serif;
    /* space */
    --space-xs: 0.25rem;
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 2.5rem;
    --space-3xl: 3rem;
    --space-4xl: 3.5rem;
    --space-5xl: 4rem;
    --space-6xl: 6rem;
    /* font-size */
    --font-size-sm: .5rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.5rem;
    --font-size-3xl: 3rem;
    --font-size-4xl: 3.5rem;
    --font-size-5xl: 4rem;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-jp);
    color: var(--text-color);
    overflow-x: hidden;
}

.main-text {
    font-family: var(--font-jp);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    line-height: 2;
}

.none-event {
    pointer-events: none;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 9999;
    background-color: var(--bg-color);
    display: grid;
    place-items: center;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}

#loading.is-hidden {
    visibility: hidden;
    opacity: 0;
}

#loading__contents {
    display: grid;
    gap: 1rem;
}

#loading #loading__img img {
    width: 20rem;
}

/* .loading__text {
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-headline);
    color: var(--text-color);
    letter-spacing: 10%;
}

.loading__dots {
    display: inline-block;
    width: 3ch;
    overflow: hidden;
    vertical-align: bottom;
    text-align: left;
}

.loading__dots::before {
    content: "...";
    width: 0ch;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0% {
        width: 0ch;
    }
    25% {
        width: 1ch;
    }
    50% {
        width: 2ch;
    }
    75%,100% {
        width: 3ch;
    }
} */

header {
    position: fixed;
    z-index: 100;
    display: grid;
    top: 0;
    left: 0;
    grid-template-columns: auto 1fr;
    height: var(--space-5xl);
    width: 100%;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

header #header-logo img {
    position: relative;
    z-index: 10;
    height: var(--space-5xl);
    margin: 0 .5rem;
}

header #nav-container {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 2rem;
    font-family: var(--font-headline);
    font-size: 1.2rem;
    align-items: center;
    margin-right: var(--space-lg);
}

header nav a {
    text-decoration: none;
    position: relative;
    z-index: 10;
    border-bottom: 2px solid transparent;
    border-image: url(../imgs/price-underline.svg) 0 0 100% 0 stretch;
    padding-bottom: var(--space-xs);
    color: var(--text-color);
    transition: .3s;
    white-space: nowrap;
}

.main-menu {
    position: relative;
}

.sub-menu {
    position: absolute;
    left: 50%;
    top: 100%;
    width: max-content;
    white-space: nowrap;
    padding-bottom: var(--space-sm);
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    z-index: 5;
    padding-top: var(--space-lg);
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    right: -100vw;
    bottom: 0;
    background-color: var(--bg-color);
    z-index: -1;
    opacity: 95%;
}

.sub-menu li {
    display: flex;
    align-items: flex-end;
}

.l-menu {
    flex-shrink: 0;
    margin-right: var(--space-sm);
    padding-bottom: var(--space-sm);
}

.main-menu:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.main-menu:hover > a {
    color: var(--accent-green);
}

.sub-menu:hover a {
    color: var(--accent-green);
}

#cart a {
    border-bottom: none;
}

#my-page a {
    border-bottom: none;
}

.fixed-banner {
    position: fixed;
    z-index: 200;
    opacity: 90%;
    top: 50%;
    right: 0;
    writing-mode: vertical-rl;
    background-color: var(--accent-green);
    padding: var(--space-md) var(--space-sm);
    font-size: var(--font-size-md);
    color: #fff;
    font-family: var(--font-jp-M);
    letter-spacing: -2px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    text-decoration: none;
    transition: .2s ease;
}

.fixed-banner:hover {
    transform: scale(103%);
}

#first-view {
    position: relative;
}

#first-view img{
    width: 100%;
    margin-top: var(--space-5xl);
}

#catch-copy {
    position: absolute;
    top: 25%;
    right: 8%;
    display: flex;
    gap: var(--space-xl);
}

#catch-copy span{
    writing-mode: vertical-rl;
    font-family: var(--font-headline);
    color: var(--bg-color);
    font-size: var(--font-size-xl);
    height: fit-content;
    letter-spacing: 1rem;
    text-shadow:
    0px 0px 5px rgb(0, 0, 0),
    0px 0px 5px rgb(0, 0, 0),
    0px 0px 5px rgb(0, 0, 0);
    white-space: nowrap;
}

#catch-copy span:nth-child(1) {
    margin-top: var(--space-6xl);
}

section {
    padding: var(--space-6xl) var(--space-md);
    margin: var(--space-6xl) auto;
}

section h2 {
    margin-bottom: var(--space-6xl);
    letter-spacing: var(--space-sm);
}

.headline {
    font-family: var(--font-headline);
    color: var(--accent-green);
    font-size: var(--font-size-xl);
    font-weight: normal;
}

#news {
    display: grid;
    place-items: center;
}

#news-list {
    width: 100%;
    padding: 0 10rem;
}

#news-list ul {
    list-style: none;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    text-align: left;
}

#news-list ul li {
    padding: var(--space-md) var(--space-xl);
    border-bottom: solid 1.5px var(--text-color);
}

#news-list ul li:first-child {
    border-top: solid 1.5px var(--text-color);
}

#news-list ul li summary {
    cursor: pointer;
}

summary {
    list-style: none;
}

summary::before {
    content: "＋";
    margin-right: var(--space-sm);
}

details[open] summary::before {
    content: "ー";
}

.news-details {
    font-family: var(--font-headline);
    line-height: 2;
    letter-spacing: 1px;
    margin: var(--space-2xl);
    width: fit-content;
}

.news-details p {
    margin: var(--space-md) 0;
}

.detail-box {
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center;
}

.detail {
    display: grid;
    place-items: center;
    font-size: var(--font-size-lg);
    background-image: url(../imgs/button.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 4.6rem;
    min-width: 18rem;
    transition: 0.3s;
}

.detail-box a {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-headline);
    white-space: nowrap;
    letter-spacing: 2px;
}

.detail-box img {
    position: absolute;
    height: var(--space-lg);
    right: -2rem;
    top: 50%;
    transform: translateY(-50%) translateX(0);
    transition: transform 0.3s ease;
}

.detail-box a:hover img {
    transform: translateY(-50%) translateX(50%);
}

.detail-box a:hover .detail {
    background-image: url(../imgs/button_hanten.svg);
    color: var(--bg-color);
}

#recommend {
    position: relative;
}

#recommend h2 {
    margin-bottom: var(--space-6xl);
}

.clouds {
    position: absolute;
    width: 24rem;
}

.clouds.right1 {
    top: 16%;
    right: -10%;
    z-index: 20;
}

.clouds.left2 {
    top: 16%;
    left: -10%;
    z-index: 20;
}

#recommend h2 {
    text-align: center;

}

#reco-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    justify-content: center;
    gap: var(--space-3xl);
}

.reco-card {
    width: 22rem;
}

.reco-card img {
    width: 22rem;
    height: 22rem;
    object-fit: cover;
}

.category {
    display: flex;
    gap: var(--space-sm);
}

.category span{
    padding: var(--space-xs);
    font-size: .9rem;
    background-color: var(--accent-lightgreen);
    letter-spacing: 2px;
    font-family: var(--font-jp-M);
    border-radius: 2px;
    margin: var(--space-sm) 0;
}

.reco-card h3 ,
.product-card h3 {
    font-family: var(--font-headline);
    font-weight: normal;
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-md);
    letter-spacing: 2px;
    width: fit-content;
    padding-bottom: .1rem;
    border-bottom: 2px solid transparent;
    border-image: url(../imgs/price-underline.svg) 0 0 100% 0 stretch;
}

.reco-exp {
    text-wrap: pretty;
}

.price {
    margin-top: var(--space-md);
    font-family: var(--font-jp-M);
    letter-spacing: 2px;
    font-size: 1.25rem;
}

.price span:nth-child(1) {
    font-size: 1rem;
}

.price span:nth-child(2) {
    font-size: .75rem;
}

.cart-input {
    display: flex;
    align-items: center;
    margin: var(--space-md) 0;
}

.cart-input input {
    width: var(--space-3xl);
    height: var(--space-xl);
    border: solid 1.5px var(--text-color);
    padding-left: var(--space-sm);
}

.cart-input button {
    cursor: pointer;
    margin-left: var(--space-lg);
    background-color: #209F4B;
    color: var(--bg-color);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    padding: var(--space-md) 1.25rem;
    font-family: "Noto Serif JP", serif;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    text-align: center;
    transition: box-shadow 0.2s ease-out, transform 0.15s ease-out;
}

.cart-input button:hover {
    box-shadow: 0px 0px 7px rgba(43,43,43,0.8);
}

.cart-input button:active {
    transform: scale(95%);
}

.harugasumi {
    font-size: var(--font-size-md);
}

#gift {
    display: grid;
    grid-template-rows: repeat(6, max-content);
    place-content: center;
    row-gap: var(--space-3xl);
}

#gift h2 {
    text-align: center;
}

#message-container {
    justify-items: center;
}

#message {
    font-family: var(--font-headline);
    text-align: center;
    letter-spacing: 4px;
    font-size: 1.25rem;
}

#gift h3 {
    font-size: var(--font-size-5xl);
    font-family: var(--font-headline);
    font-weight: normal;
    color: var(--accent-brown);
    margin-bottom: var(--space-xl);
}

.gift-item {
    position: relative;
    display: flex;
    width: 100%;
    border-bottom: solid 1.5px var(--text-color);
    padding: 0 var(--space-xl);
}

.gift-item p {
    letter-spacing: 1px;
    line-height: 2;
    margin-bottom: var(--space-4xl);
}

.gift-en {
    position: absolute;
    font-size: var(--font-size-5xl);
    font-family: var(--font-headline);
    font-weight: normal;
    opacity: 30%;
    color: var(--accent-brown);
}

.gift-en.pack {
    bottom: -6%;
    right: 0;
}

.gift-en.sce {
    bottom: -6%;
    left: 0;
}

.gift-en.deli {
    bottom: -6%;
    right: 0;
}

.gift-item.deli {
    margin-bottom: var(--space-5xl);
}

.gift-item.deli div span {
    color: #A25A47;
    font-size: 1.25rem;
    border-bottom: dashed 1.5px #A25A47;
}

.gift-item.left {
    margin-top: var(--space-3xl);
}

.gift-item.right {
    margin-top: var(--space-3xl);
    flex-direction: row-reverse;
}

.gift-item.right div{
    text-align: right;
}

#thought {
    padding: var(--space-6xl);
    margin-top: var(--space-3xl);
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--space-6xl);
    justify-content: center;
    align-items: center;
}

#thought > img {
    width: 30rem;
    height: 35rem;
    object-fit: cover;
}

#thought-contents {
    position: relative;
    display: grid;
    grid-template-rows: max-content;
    padding-bottom: var(--space-3xl);
    gap: var(--space-5xl);
}

#thought-sentence ::before {
    content: "";
    position: absolute;
    top: var(--space-5xl); left: 0; right: 0; bottom: 0;
    background-image: url(../imgs/kansaido_icon_main_mojinashi.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .025;
    z-index: -1;
}

#thought-contents h2 {
    text-align: center;
    margin-bottom: 0;
}

#thought-contents h2 span {
    font-size: var(--font-size-3xl);
    letter-spacing: 0;
}

#thought-sentence {
    display: grid;
    flex-direction: column;
    gap: var(--space-lg);
    letter-spacing: 1px;
    line-height: 2;
}

#campaign {
    padding: var(--space-5xl);
}

#campaign h2{
    text-align: center;
}

#cam-banner-contents {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    justify-content: center;
    gap: var(--space-3xl);
}

.cam-banner img {
    box-shadow: 0px 5px 4px rgba(43,43,43,0.3);
    border-radius: 3px;
    width: 31.25rem;
    height: 12.5rem;
}

.product-card {
    width: 19rem;
}

.product-card img {
    width: 19rem;
    height: 19rem;
    object-fit: cover;
}

#product {
    padding: 6.25rem var(--space-3xl);
}

#product h2 {
    text-align: center;
}

#product-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: auto;
    justify-content: center;
    column-gap: var(--space-5xl);
    row-gap: var(--space-3xl);
}

#product .detail-box {
    margin-top: var(--space-6xl);
}

#shop {
    position: relative;
    padding: 9.25rem;
}

#shop h2 {
    text-align: center;
}

#shop-contents {
    position: relative;
    margin: 0 auto;
    width: fit-content;
}

#shop-img img{
    object-fit: contain;
    height: 40rem;
}

#shop-deco-detail {
    position: absolute;
    top: 10%;
    left: -10%;
}

#shop-detail {
    background-color: #fff;
    font-family: var(--font-jp-M);
    color: var(--text-color);
    font-size: var(--font-size-md);
    padding: var(--space-2xl);
    letter-spacing: 1px;
    line-height: 1.6;
    box-shadow: 0px 4px 4px rgba(43,43,43,0.5);
}

#shop-detail #title {
    font-size: var(--font-size-2xl);
}

#shop-detail #time {
    margin: var(--space-md) 0;
}

#shop-detail #address {
    font-size: var(--font-size-md);
}

#shop-deco img{
    position: absolute;
    z-index: 1;
    width: 320px;
}

#shop-deco img:first-child {
    top: -8%;
    left: -30%;
}

#shop-deco img:last-child {
    bottom: -10%;
    right: -25%;
}

footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "imgs-contents footer-nav"
        "footer-shop-info small"
    ;
    width: 100%;
    height: 25rem;
    background-color: var(--accent-green);
}

#imgs-contents {
    grid-area: imgs-contents;
    width: fit-content;
    padding: var(--space-xl) var(--space-3xl);
}

footer img {
    width: 15.5rem;
}

footer #icons {
    display: flex;
    width: 15.5rem;
    justify-content: space-evenly;
}

footer #icons img{
    width: 3rem;
    height: 3rem;
}

#footer-shop-info , #footer-nav {
    color: var(--bg-color);
    font-family: var(--font-jp-M);
    line-height: 1.8;
    letter-spacing: 1px;
}

footer #footer-shop-info {
    grid-area: footer-shop-info;
    padding-left: var(--space-3xl);
    width: fit-content;
}

footer #footer-nav {
    grid-area: footer-nav;
    padding-top: var(--space-xl);
    font-size: .8rem;
}

footer #footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3xl);
}

footer #footer-nav ul li a{
    text-decoration: none;
    color: inherit;
}

footer #footer-nav ul li a:hover{
  text-decoration: underline;
}

#footer-small {
    display: grid;
    grid-area: small;
    justify-content: end;
    align-items: end;
    color: var(--bg-color);
    font-family: var(--font-jp-M);
}

small {
    margin: 0 var(--space-3xl) var(--space-3xl) 0;
}

/* InterSectionObseverのcss */

.reco-card-move {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
    transition-delay: calc(var(--i) * 0.25s);
}

.reco-card-move.active {
    opacity: 1;
    transform: translateY(0);
}

.move_upwards {
    opacity: 0;
    transform: translateY(20px);
}

.move_upwards.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.right1 {
    opacity: 0;
    transform: translateX(30px);
}

.right1.active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.left2 {
    opacity: 0;
    transform: translateX(-30px);
}

.left2.active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.blur {
    filter: blur(5px);
}

.blur.active {
    filter: blur(0px);
    transition: filter 2s;
}