.main-text {
    font-family: var(--font-yuji);
    color: rgba(43, 43, 43, 0.88);
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    font-size: var(--font-size-md);
    letter-spacing: 2px;
    line-height: 2;
}

#background .sentence {
    font-family: var(--font-yuji);
    font-size: var(--font-size-md);
    letter-spacing: 5px;
    line-height: 3;
}

.h3-font {
    font-family: var(--font-headline);
    font-size: var(--font-size-lg);
    letter-spacing: 8px;
    line-height: 2;
    font-weight: normal;
}

main {
    margin: calc(var(--space-6xl) * 3) auto;
    display: grid;
    gap: calc(var(--space-6xl) * 3);
}

.headline {
    font-family: var(--font-headline);
    color: var(--accent-green);
    font-size: var(--font-size-xl);
    font-weight: normal;
    letter-spacing: var(--space-sm);
    text-align: center;
}

#background {
    position: relative;
    height: max-content;
    width: 100%;
}

#background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/kansaido_firstview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    filter: blur(5px);
    z-index: 0;
}

#background .contents {
    position: relative;
    z-index: 1;
    writing-mode: vertical-rl;
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, 0.88);
    padding: 5rem;
    text-shadow: 0 0 3px rgba(43, 43, 43, 1),0 0 3px rgba(43, 43, 43, 1),0 0 3px rgba(43, 43, 43, 1);
}

#background h3 {
    text-align: center;
}

#background .sentence {
    display: grid;
    gap: var(--space-5xl);
    margin-right: calc(var(--space-6xl) * 1.5);
}

#posture .h3-font,#involvement .h3-font,#from-now .h3-font {
    text-align: center;
    margin-bottom: 4rem;
}

.swiper {
    width: 400px;
    height: 500px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #arrow {
    display: flex;
    margin-top: var(--space-md);
    justify-content: center;
    gap: calc(var(--space-6xl) * 1.5);
}

#arrow img {
    width: 100px;
} */

#arrow img:first-child {
    transform: scaleX(-1);
}

#posture .contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--space-6xl) * 1.5);
}

#posture .contents .sentence {
    display: grid;
    gap: var(--space-lg);
}

#involvement {
    position: relative;
}

#involvement::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/higashi_chaya.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
    filter: blur(5px);
    z-index: 0;
}

#involvement .contents {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    padding: 5rem;
    text-align: center;
}

#involvement .main-text {
    display: grid;
    gap: var(--space-lg);
}

#from-now {
    position: relative;
}

#from-now::before {
    content: "";
    width: 250px;
    height: 250px;
    position: absolute;
    background-image: url(../imgs/kansaido_icon_main.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 35%;
    left: 40%;
    z-index: 0;
    opacity: .1;
}

#from-now .main-text {
    position: relative;
    text-align: center;
    display: grid;
    gap: var(--space-lg);
    z-index: 1;
}

@media (max-width: 640px) {
    #posture .contents {
        flex-direction: column;
        gap: 4rem;
    }
}