* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Higure Gothic R';
    src: url('../fonts/HigureGothic/HigureGothic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Higure Gothic M';
    src: url('../fonts/HigureGothic/HigureGothic-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'New Tegomin';
    src: url('../fonts/New_Tegomin/NewTegomin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'YujiSyuku-Regular';
    src: url('./fonts/YujiSyuku-Regular.ttf') format('truetype');
}

:root {
    /* color */
    --bg-color: #f5f1e8;
    --text-color: #2b2b2b;
    --accent-green: #209f4b;
    --accent-lightgreen: #41C56F;
    --accent-brown: #c57763;
    /* font-family */
    --font-headline: 'New Tegomin', serif;
    --font-jp: 'Higure Gothic R', serif;
    --font-jp-M: 'Higure Gothic M', serif;
    --font-yuji: 'YujiSyuku-Regular', serif;
    /* space */
    --space-xs: 0.25rem;
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 2.5rem;
    --space-3xl: 3rem;
    --space-4xl: 3.5rem;
    --space-5xl: 4rem;
    --space-6xl: 6rem;
    /* font-size */
    --font-size-sm: .5rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.5rem;
    --font-size-3xl: 3rem;
    --font-size-4xl: 3.5rem;
    --font-size-5xl: 4rem;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-jp);
    color: var(--text-color);
}

.main-text {
    font-family: var(--font-jp);
    font-size: var(--font-size-md);
    letter-spacing: 1px;
    line-height: 2;
}

.font-accent {
    font-family: var(--font-jp);
    font-size: var(--font-size-xl);
    letter-spacing: 2px;
    line-height: 2;
}

header {
    position: fixed;
    z-index: 100;
    display: grid;
    top: 0;
    left: 0;
    grid-template-columns: auto 1fr;
    height: var(--space-5xl);
    width: 100%;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

header #header-logo img {
    position: relative;
    z-index: 10;
    height: var(--space-5xl);
    margin: 0 .5rem;
}

header #nav-container {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 2rem;
    font-family: var(--font-headline);
    font-size: 1.2rem;
    align-items: center;
    margin-right: var(--space-lg);
}

header nav a {
    text-decoration: none;
    position: relative;
    z-index: 10;
    border-bottom: 2px solid transparent;
    border-image: url(./imgs/price-underline.svg) 0 0 100% 0 stretch;
    padding-bottom: var(--space-xs);
    color: var(--text-color);
    transition: .3s;
    white-space: nowrap;
}

.main-menu {
    position: relative;
}

.sub-menu {
    position: absolute;
    left: 50%;
    top: 100%;
    width: max-content;
    white-space: nowrap;
    padding-bottom: var(--space-sm);
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    z-index: 5;
    padding-top: var(--space-lg);
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    right: -100vw;
    bottom: 0;
    background-color: var(--bg-color);
    z-index: -1;
    opacity: 95%;
}

.sub-menu li {
    display: flex;
    align-items: flex-end;
}

.l-menu {
    flex-shrink: 0;
    margin-right: var(--space-sm);
    padding-bottom: var(--space-sm);
}

.main-menu:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.main-menu:hover > a {
    color: var(--accent-green);
}

.sub-menu:hover a {
    color: var(--accent-green);
}

#cart a {
    border-bottom: none;
}

#my-page a {
    border-bottom: none;
}

.image {
    width: 300px;
    height: 300px;
}

.image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

section {
    padding: var(--space-6xl) 0;
    margin: var(--space-6xl) 0;
    display: grid;
    place-content: center;
}

section h2 {
    margin-bottom: var(--space-6xl);
    letter-spacing: var(--space-sm);
    text-align: center;
}

.headline {
    font-family: var(--font-headline);
    color: var(--accent-green);
    font-size: var(--font-size-xl);
    font-weight: normal;
}

#message {
    text-align: center;
    font-family: var(--font-headline);
    font-size: 1.25rem;
    letter-spacing: 4px;
    margin-bottom: var(--space-6xl);
    line-height: 3;
}

.sections {
    position: relative;
    border: solid 1px var(--text-color);
}

.subheading h3{
    position: absolute;
    font-size: var(--font-size-5xl);
    font-weight: normal;
    font-family: var(--font-headline);
    color: var(--accent-brown);
    background-color: var(--bg-color);
    letter-spacing: 2px;
}

#packing .subheading h3 {
    padding: 20px;
    top: -3.7%;
    left: 50%;
    transform: translateX(-50%);
}

#scene .subheading h3 {
    padding: 20px;
    top: -2.5%;
    left: 50%;
    transform: translateX(-50%);
}

.exp {
    text-align: center;
}

.exp.main-text {
    display: grid;
    gap: var(--space-xl);
}

.exp-title {
    font-family: var(--font-jp-M);
    font-size: var(--font-size-lg);
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 2;
}

.detail-box {
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center;
}

.packing-el {
    display: flex;
    gap: var(--space-3xl);
    align-items: end;
}

.el-compilation {
    display: grid;
    gap: var(--space-6xl);
    padding: 0 var(--space-6xl);
}

.scene-el {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    row-gap: var(--space-5xl);
}

.scene-cont {
    display: flex;
    gap: var(--space-5xl);
    justify-content: center;
}

.scene-el-sent {
    text-align: center;
    margin-top: var(--space-sm);
}

.scene-el-sent p {
    margin-top: var(--space-sm);
}

.sent-title {
    font-family: var(--font-jp-M);
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 2;
}

.set-container{
    display: grid;
    grid-template-rows: repeat(4, max-content);
    row-gap: var(--space-sm);
}

.set-contents {
    text-align: justify;
}

.set-list {
    list-style: none;
}

.set-list li {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.quantity {
    align-content: end;
}

#delivery .subheading h3 {
    padding: 20px;
    top: -7.5%;
    left: 50%;
    transform: translateX(-50%);
}

#delivery-contents {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    row-gap: var(--space-xl);
}

.delivery-contents-items h4 {
    margin-bottom: var(--space-sm);
}

#delivery-contents .detail-box {
    margin-top: var(--space-3xl);
}

#gift > .detail-box {
    margin-top: var(--space-6xl);
}

.detail {
    display: grid;
    place-items: center;
    font-size: var(--font-size-lg);
    background-image: url(../imgs/button.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 4.6rem;
    min-width: 20rem;
    transition: 0.3s;
}

.detail-box a {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-headline);
    white-space: nowrap;
    letter-spacing: 2px;
}

.detail-box img {
    position: absolute;
    height: var(--space-lg);
    right: -2rem;
    top: 50%;
    transform: translateY(-50%) translateX(0);
    transition: transform 0.3s ease;
}

.detail-box a:hover img {
    transform: translateY(-50%) translateX(50%);
}

.detail-box a:hover .detail {
    background-image: url(../imgs/button_hanten.svg);
    color: var(--bg-color);
}

footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "imgs-contents footer-nav"
        "footer-shop-info small"
    ;
    width: 100%;
    height: 25rem;
    background-color: var(--accent-green);
}

#imgs-contents {
    grid-area: imgs-contents;
    width: fit-content;
    padding: var(--space-xl) var(--space-3xl);
}

footer img {
    width: 15.5rem;
}

footer #icons {
    display: flex;
    width: 15.5rem;
    justify-content: space-evenly;
}

footer #icons img{
    width: 3rem;
    height: 3rem;
}

#footer-shop-info , #footer-nav {
    color: var(--bg-color);
    font-family: var(--font-jp-M);
    line-height: 1.8;
    letter-spacing: 1px;
}

footer #footer-shop-info {
    grid-area: footer-shop-info;
    padding-left: var(--space-3xl);
    width: fit-content;
}

footer #footer-nav {
    grid-area: footer-nav;
    padding-top: var(--space-xl);
    font-size: .8rem;
}

footer #footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3xl);
}

footer #footer-nav ul li a{
    text-decoration: none;
    color: inherit;
}

footer #footer-nav ul li a:hover{
  text-decoration: underline;
}

#footer-small {
    display: grid;
    grid-area: small;
    justify-content: end;
    align-items: end;
    color: var(--bg-color);
    font-family: var(--font-jp-M);
}

small {
    margin: 0 var(--space-3xl) var(--space-3xl) 0;
}

/* InterSectionObseverのcss */

.move_upwards {
    opacity: 0;
    transform: translateY(20px);
}

.move_upwards.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.blur {
    filter: blur(5px);
}

.blur.active {
    filter: blur(0px);
    transition: filter 1.7s;
}